<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
<!--用注解的方式完成 servlet的配置-->
<!-- 	<servlet>
		<servlet-name>Html5Servlet</servlet-name>
		<display-name>Html5Servlet</display-name>
		<description></description>
		<servlet-class>com.html5.yuan.Html5Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Html5Servlet</servlet-name>
		<url-pattern>/Html5Servlet</url-pattern>
	</servlet-mapping> -->
<!-- 	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list> -->
</web-app>
